force-app/main/default/flows/Create_Value_Chain_Pricing_Defaults.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_record_to_collection</name>
        <label>Add record to collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ValueChainPricingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValueChainPricingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Retrieved_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ValueChainPricingRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Retrieved_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueChainPricingRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueChainPricingRecord.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sleeve</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueChainPricingRecord.Retail_Selling_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.09</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueChainPricingRecord.Capsules_per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Value Chain Pricing Defaults {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Value Chain Pricing Defaults</label>
    <loops>
        <name>Loop_Retrieved_Products</name>
        <label>Loop Retrieved Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Value_Chain_Pricing_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Value_Chain_Pricing_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Value_Chain_Pricing_Records</name>
        <label>Create Value Chain Pricing Records</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>ValueChainPricingCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Value_Chain_Pricing_Products</name>
        <label>Get Value Chain Pricing Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Retrieved_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>VCP-</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Value_Chain_Pricing_Products</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ValueChainPricingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Value_Chain_Pricing__c</objectType>
    </variables>
    <variables>
        <name>ValueChainPricingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Value_Chain_Pricing__c</objectType>
    </variables>
</Flow>
