force-app/main/default/flows/Update_Opportunity_Number_of_Capsules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Number_to_Total</name>
        <label>Add Number to Total</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>numberOfCapsules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Number_of_Capsules.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_of_Capsules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Number_of_Capsules</name>
        <label>Set Total Number of Capsules</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expected_Volume_in_mio_Capsules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfCapsules</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Return_Size</name>
        <label>Check Return Size</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Number_of_Capsules</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Opportunity Number of Capsules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Number of Capsules</label>
    <loops>
        <name>Count_Number_of_Capsules</name>
        <label>Count Number of Capsules</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Number_to_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Total_Number_of_Capsules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Return_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>numberOfCapsules</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
